@font-face {
  font-family: "specialhelvetica";
  src:
    url("./HelveticaNowDisplay-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

button {
  background-color: black;
  padding: 20px;
  border-radius: .5rem;
  color: white;
  border: none;
  margin-bottom: 50px;
}

button:hover {
  border: 2px solid white;
}

button i {
  margin-right: 10px;
}